p{
    color:blue ;
}
.main-para{
    color: crimson;
}

#special{
    color: aqua;
}
.List{
    background-color: bisque;
    border: 1pt solid black;
    padding: 5px;
}
.List.ListItem{
    color: red;
}
.ListItem{
    color: orange;
}